body {
    padding: 20px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title {
    margin: 0;
    padding: 0;
    font-size: xx-large;
    font-weight: 300;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chart {
    width: 500px;
    height: 300px;
    margin-left: 30px;
    margin-right: 30px;
}

.configuration {
    display: flex;
    flex-direction: column;
    width: 250px;
    /* max-height: 400px; */
    display: flex;
    zoom: 0.8;
}

.flow-picker {
    display: none;
}